<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/imagenes/logo.png">

</head>
<body>
    <header>
        <div class="header-cont">
            <h1>Elite Unisex BarberShop</h1>
        </div>
    </header>
    <main>
        <div class="iniciar_container">
            <form id="loginForm">
                <h2 class="titulo1">INICIO DE SESION</h2>
                <br>
                <input type="tel" placeholder="Usuario" autofocus id="user" required autocomplete="off" >
                <br>
                <input type="password" name="contra" id="contra" placeholder= "Contraseña" required maxlength="15" autocomplete="off" >
                <br>
                <button type="submit" class="access">Acceder</button>
                <br>
            </form>
        </div>
    </main>
    <script src="js/script.js"></script>
</body>
</html>