<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Unisex BarberShop</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Elite Unisex BarberShop <span>Dominican Style</span></h1>
    </header>

    <div class="formulario">
        <form action="">
            <input type="text" placeholder="Introduzca su nombre" autofocus required autocomplete="on">
            <input type="tel" placeholder="Introduzca su número de teléfono" required>

        </form>

    </div>
</body>
</html>