<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Unisex BarberShop</title>
    <link rel="icon" href="/static/imagenes/logo.png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="header-cont">
            <h1>Elite Unisex BarberShop</h1>
            <div class="lado-izquierdo">
                <a href="/clientes/">Clientes</a>
                <a href="/admin/">administrar</a>
            </div>
        </div>
    </header>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h4 class="mensaje-home">{{ message }}</h4>
    {% endfor %}
    {% endif %}
{% endwith %}

    <div class="container">
        <form action="/agregar/cliente/" method="post" class="clientForm">
            <h3>Registrar cliente</h3>
            <br>
            <input type="text" placeholder="Introduzca su nombre" name="nombre" required autofocus autocomplete="on">
            <br>
            <input type="tel" placeholder="Introduzca su numero de telefono" name="telefono" maxlength="11">
            <br>
            <input type="submit" value="Registrarse" id="boton-submit">
            <br>
        </form>
    </div>

    <script src="/static/js/script.js"></script>

    <footer>&copy;Todos los derechos reservados Elite Unisex BarberShop</footer>
</body>

</html>