<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Unisex BarberShop</title>
     <link rel="icon" href="/static/imagenes/logo.png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Elite Unisex BarberShop</h1>

        <!-- <figure>
            <img src="/static/imagenes/logo.png" alt="">
        </figure> -->
    </header>

    <div class="container">
       <form class="clientForm">
        <input type="text" placeholder="Introduzca su nombre" required autofocus autocomplete="on">
        <input type="tel" placeholder="Introduzca su numero de telefono" maxlength="11">
        <input type="submit" value="Registrarse">
       </form>
       
        <a href="/templates/eliteBS/clientes.html" id="viewClients">Ver Clientes</a>

    </div>

    <script src="/static/js/script.js"></script>

    <footer>&copy;Todos los derechos reservados Elite Unisex BarberShop</footer>
</body>

</html>